{% extends 'base.html.twig' %}

{#{% block title %}{{ name }}{% endblock %}#}

{% block body %}
    <div class="content">
        <div class="container">

            {% for movie in movies %}
                <div class="box">
                    <a href="{{ path('movie_details', {"id":movie.id}) }}">
                        <img src="{{ movie.thumbnail }}">
                        <div class="text">
                            <h6 class="xs-txt">{{ movie.name }}</h6>
                            <p>{{ movie.channel.name }}</p>
                            <p>{{ movie.description }}</p>
                        </div>
                    </a>
                </div>
                <hr>
            {% else %}
                <div>
                    Brak filmów
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
{#{% endblock %}#}