{% extends 'base.html.twig' %}

{#{% block title %}{{ name }}{% endblock %}#}

{% block body %}
    <div class="content">
        <div class="container">

            <div class="news section">
                <div class="wrapper">
                    {% for movie in movies %}
                    <div class="item cartoon maxWidth">
                        <div class="photo" style="background-image:url('{{ movie.thumbnail }}');">
                        </div>
                        <div class="text ltest-txt">
                            <h4>
                                <a href="{{ path('movie_details', {"id":movie.id, "title":movie.urlName}) }}">{{ movie.name }}</a>
                            </h4>
                            <p class="xs-txt date">{{ movie.channel.name }}</p>
                            <p>{{ movie.description }}</p>
                            <a href="{{ path('movie_details', {"id":movie.id, "title":movie.urlName}) }}"><span>Oglądaj</span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div> 
                      </div>
                        {% else %}
                            <div class="no-content">
                                <p>Brak filmów</p>
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
{#{% endblock %}#}