{% extends 'base.html.twig' %}

{% block title %}Kategorie{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">

            {% for channel in channels %}
                <a href="{{ path("channel_movies", {"name":channel.name}) }}">
                    <img src="{{ channel.thumbnail }}">
                    {{ channel.name }}
                </a>
                <p>{{ channel.description }}</p>
            {% else %}
                <div>
                    Brak filmów
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
{#{% endblock %}#}