{% extends 'base.html.twig' %}

{% block title %}Kategorie{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            
            <div class="shop section">
                <div class="wrapper">

                    {% for channel in channels %}
                        <div class="item">
                            <div class="photo" style="height:auto; width:100%; background: none;">
                                <a href="{{ path("channel_movies", {"name":channel.name}) }}">
                                    <img src="{{ channel.thumbnail }}">
                                </a>
                            </div>
                            <div class="text">
                                <p><a href="{{ path("channel_movies", {"name":channel.name}) }}">{{ channel.name }}</a></p>
                                <p class="xs-txt">{{ channel.description }}</p>
                            </div>
                        </div>
                        {% else %}
                        <div>
                            Brak filmów
                        </div>
                    {% endfor %}
                </div>
            
            </div>

        </div>
    </div>
{% endblock %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
{#{% endblock %}#}