{% extends 'base.html.twig' %}

{% block title %}{{ channel.name }}{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">

            <div class="news section">
                <h3 class="section-heading">
                    Filmy kanału {{ channel.name }}
                </h3>

                <div id="easyPaginate" class="wrapper">
                    {% for movie in channel.movies %}
                    
                    <div class="item cartoon maxWidth paginateElement">
                        <div class="photo" style="background-image:url('{{ movie.thumbnail }}');">
                        </div>
                        <div class="text ltest-txt">
                            <h4>
                                <a href="{{ path('movie_details', {"id":movie.id, "title":movie.urlName}) }}">{{ movie.name }}</a>
                            </h4>
                            <p class="xs-txt date">{{ movie.channel.name }}</p>
                            <p>{{ movie.description }}</p>
                            <a href="{{ path('movie_details', {"id":movie.id, "title":movie.urlName}) }}"><span>Oglądaj</span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div> 
                      </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.easyPaginate.js') }}"></script>
    <script>
        $('#easyPaginate').easyPaginate({
            paginateElement: '.paginateElement',
            elementsPerPage: 8,
            effect: 'climb'
        });
    </script>
{% endblock %}