{% extends 'base.html.twig' %}

{% block title %}{{ channel.name }}{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">

            <h1>Filmy kanału {{ channel.name }}</h1>

            <div id="easyPaginate">
                {% for movie in channel.movies %}
                    <div class="paginateElement">
                        <a href="{{ path('movie_details', {'id': movie.id}) }}">
                            <img src="{{ movie.thumbnail }}" />
                            {{ movie.name }}
                        </a>
                        <p> {{ movie.description }} </p>
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.easyPaginate.js') }}"></script>
    <script>
        $('#easyPaginate').easyPaginate({
            paginateElement: '.paginateElement',
            elementsPerPage: 8,
            effect: 'climb'
        });
    </script>
{% endblock %}