{% extends 'base.html.twig' %}

{% block title %}{{ movie.name }}{% endblock %}

{% block body %}
    <div class="content has-sidebar">
        <div class="container">

            {{ ad.content | raw }}

            <h1>{{ movie.name }}</h1>

            <iframe width="854" height="480" src="{{ movie.link}}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

            {{ ad2.content | raw }}

            <a href="{{ path("channel_movies", {"name":movie.channel.name}) }}">
                <h4>{{ movie.channel.name }}</h4>
            </a>

            <p>{{ movie.description }}</p>

        </div>
    </div>
{% endblock %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
{#{% endblock %}#}