{% extends 'base.html.twig' %}

{#{% block title %}{{ name }}{% endblock %}#}

{% block body %}
    <div class="content">
        <div class="container">

            <h3 class="section-heading">
                Wyniki wyszukania dla: {{ query }}
            </h3>
                
            <div class="shop section">
                <div class="wrapper">
                    {#kanały#}
                    {% for channel in reults['channels'] %}
                        <div class="item cartoon maxWidth ">
                            <div class="photo" style="height:auto; width:100%; background: none;">
                                <a href="{{ path("channel_movies", {"name":channel.name}) }}"><img src="{{ channel.thumbnail }}"></a>
                            </div>
                            <div class="text ltest-txt">
                                <h4>
                                    <a href="{{ path("channel_movies", {"name":channel.name}) }}">
                                        {{ channel.name }}
                                    </a>
                                </h4>
                                <p>{{ channel.description }}</p>
                            </div> 
                        </div>
                    {% endfor %}
                    {#end kanały#}
                </div>
            </div>
                    
            <div class="news section">
                <div class="wrapper">
                    {#filmy#}
                    {% for movie in reults['movies'] %}
                        <div class="item cartoon maxWidth ">
                            <div class="photo" style="background-image:url('{{ movie.thumbnail }}');"></div>
                            <div class="text ltest-txt">
                                <h4>
                                    <a href="{{ path('movie_details', {"id":movie.id, "title":movie.urlName}) }}">{{ movie.name }}</a>
                                </h4>
                                <p class="xs-txt date">{{ movie.channel.name }}</p>
                                <p>{{ movie.description }}</p>
                                <a href="{{ path('movie_details', {"id":movie.id, "title":movie.urlName}) }}"><span>Oglądaj</span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div> 
                        </div>
                    {% endfor %}
                    {#end filmy#}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.easyPaginate.js') }}"></script>
    <script>
        $('#easyPaginate').easyPaginate({
            paginateElement: '.paginateElement',
            elementsPerPage: 8,
            effect: 'climb'
        });
    </script>
{% endblock %}