<div id="sb-search" class="sb-search">
    {{ form_start(searchForm) }}
        {{ form_widget(searchForm.query, {'attr': {'class': 'sb-search-input', 'placeholder': 'Szukaj...'}}) }}
        {{ form_widget(searchForm.submit, {'attr': {'class': 'sb-search-submit'}}) }}
        <span class="sb-icon-search"></span>
        {{ form_rest(searchForm) }}
    {{ form_end(searchForm) }}
</div>

{#<form method="post" action="/search.php">#}
    {#<input class="sb-search-input" placeholder="Szukaj..." type="text" value="" name="search" id="search">#}
    {#<input class="sb-search-submit" type="submit" value="">#}
    {#<span class="sb-icon-search"></span>#}
{#</form>#}

{% block javascripts %}
    <script src="{{ asset('js/uisearch.js') }}"></script>

    <script type="text/javascript">
        new UISearch( document.getElementById( 'sb-search' ) );
    </script>
{% endblock %}